#container-fluid {
  margin: 0;
  padding: 0;
}

header a {
  padding-left: 15px;
}

#navbarNav {
  padding-right: 15px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Assets/hero.jpg");
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-section {
  /* position: relative; */

}

.hero-image .text{
  /* text-align: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  top: 30%;
  left: 23%; */
}

.hero-image p {
  color: #b3b7b8;
}

.hero-image h1 {
  color: white;
}

.hero-image .form-outline input {
  color: #bab9be;
}

.hero-image .form-outline {
  width: 50vw;
}

.card img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.card-body .card-text {
  color: white;
  letter-spacing: 2px;
}

.card-body {
  bottom: 0;
  /* left: 5rem; */
}

.parent {
  /* position: relative; */
  overflow: hidden;
}

.parent:hover .card {
  filter: brightness(50%);
  transform: scale(1.1);
}

.card {
  transition: all 1.1s;
}
