
.container-fluid {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Assets/hero.jpg");
  height: 60vh;
  width: 100%;
  background-size: cover;
  ;
  background-repeat: no-repeat;
  background-position: center;
  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
