#container-fluid {
  margin: 0;
  padding: 0;
}

header a {
  padding-left: 15px;
}

#navbarNav {
  padding-right: 15px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Assets/hero.jpg");
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-section {
  /* position: relative; */

}

.hero-image p {
  color: #b3b7b8;
}

.hero-image h1 {
  color: white;
}

.hero-image .form-outline input {
  color: #bab9be;
}

.hero-image .form-outline {
  width: 50vw;
}

#homeCard .card img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

#homeCard .card-body .card-text {
  color: white;
  letter-spacing: 2px;
}

#homeCard .card-body {
  bottom: 0;
  left: 5rem;
}

#homeCard .parent {
  /* position: relative; */
  overflow: hidden;
}

#homeCard .parent:hover .card {
  filter: brightness(50%);
  transform: scale(1.1);
}

#homeCard .card {
  transition: all 1.1s;
}

#advCards .card img {
  transition: all 0.2s ease-in-out;
  /* height: 100%; */
  height: 20rem;
  /* width: 100% */
  object-fit: cover;
}

#advCards .card:hover img {
  filter: brightness(75%);
}

/* @media (max-width: 768px) {
  #advCards .card-body {
      flex-direction: column;
  }
} */

#textAdv .text {
  margin-top: 60px;
  margin-left: 5px;
}


.section1 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.first img {
  width: 400px;
  height: 440px;
}

#container-fluid #advDetails {
  width: 900px;
  margin-top: 
}

#advDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#advDetails img:hover {
  filter: brightness(50%);
}

.sticky {
  position: fixed;
  right: 0;
  /* overflow: auto; */
}